* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #A6CE39;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 40px;
    background-color: #D35873;
    color: #000000;
    border-bottom: 4px solid #FFDD00;
  }

  .header img{
    float: left; /* ou float: right */
    margin: -20px;
  }

  .header h1{
    float: center; /* ou float: right */
    margin: 10px;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width:350px;
}